# Java class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Maven Directories #
target

# Eclipse Files and Directories #
*.classpath
*.project
.settings

# IntelliJ IDEA Files and Directories #
*.iml
*.ipr
*.iws
/.idea/

# Groovy/Grails Files and Directories #
stacktrace.log
/plugins
/web-app/plugins
